<% wrap_layout :layout do %>

  <div class="w-section page-header dark">
    <div class="w-container">
      <h1 class="page-header-title"><%= current_page.data.title || "Service" %></h1>
    </div>
    <h1 class="page-header-title subtitle"><%= current_page.data.subtitle %></h1>
  </div>
  <div class="w-section section tint">
    <div class="w-container">
      <div class="w-row recent-news-row">
        <div class="w-col w-col-8 overall-content-column-left">
          <div class="section-title-block">
            <h1 class="section-title">About the service</h1>
            <div class="section-title-line"></div>
          </div>
          <div class="w-richtext rich-text-block">

          <%= yield %>

          </div>
          <div class="w-row service-blocks-row">
            <div class="w-col w-col-6 service-block-column">
              <a href="contact-us.html" class="w-inline-block service-link-block"><img src="images/new-email-interface-symbol-of-black-closed-envelope_white.svg" class="service-block-icon">
                <div class="service-block-title">Get in touch with us</div>
                <p class="service-block-paragraph">Let us help you apply FPGA technology in your situation.</p>
              </a>
            </div>
            <div class="w-col w-col-6 service-block-column">
              <a href="services-overview.html" class="w-inline-block service-link-block"><img src="images/computer-microprocessor.svg" class="service-block-icon">
                <div class="service-block-title">More services</div>
                <p class="service-block-paragraph">See what else we can doe for you or your company.</p>
              </a>
            </div>
          </div>
        </div>
        <div class="w-col w-col-4 overall-sidebar-col-right">
          <div class="widget-block"><a href="fpga-design.html" class="link sidebar-list-link">FPGA design</a><a href="workshops-training.html" class="link sidebar-list-link">Workshops &amp; Training</a><a href="clash-support.html" class="link sidebar-list-link">C位aSH support</a>
          </div>
          <div class="widget-block">
            <a href="about-clash.html" class="w-inline-block widget-image-block">
              <div class="widget-image-block-overlay">
                <div class="image-block-title">About C位aSH</div>
                <div class="button">learn more</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section dark">
    <div class="w-container container">
      <div class="w-row content-row">
        <div class="w-col w-col-3 content-column-1">
          <h3 class="column-intro-title">We are an FPGA consultancy firm located in Enschede, The Netherlands.</h3>
          <p>Our team has a strong affinity for both mathematics and embedded systems, which allows us to quickly achieve a deep understanding of difficult algorithm and find suitable implementations.</p><a href="our-team.html" class="link">Learn more</a>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/fpga_2_400x400_orange.jpg" class="column-image">
          <h3 class="column-intro-title smaller">FPGA consultants</h3>
          <p>We apply FPGA technology in domains with difficult mathematical problems, where solutions need low latencies and high performance.</p>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/code3.jpg" class="column-image">
          <h3 class="column-intro-title smaller">Creators of C位aSH</h3>
          <p>We have developed C位aSH, a functional hardware description language, providing unprecedented abstraction mechanisms for FPGA design.</p>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/classroom2.jpg" class="column-image">
          <h3 class="column-intro-title smaller">Experienced educators</h3>
          <p>Our workshops and training are based on 30+ years of experience on teaching students at bachelor, master, and phd level.</p>
        </div>
      </div>
    </div>
  </div>

<% end %>
