  <div class="w-section footer">
    <div class="footer-overlay">
      <div class="w-container container">
        <div class="w-row footer-row">
          <div class="w-col w-col-3 home-intro-column">
            <div class="footer-title">About us</div>
            <p><strong>QBayLogic B.V. i.o.</strong>
              <br>Zilverling 5096
              <br>Hallenweg 19
              <br>7522NH Enschede
              <br>
              <br>KvK: B.V. i.o.
              <br>BTW: B.V. i.o.</p>
          </div>
          <div class="w-col w-col-3 home-intro-column">
            <div class="footer-title">Contact us</div>
            <ul class="w-list-unstyled footer-list">
              <li class="footer-list-item">
                <p><strong>Postal address:<br></strong>Zilverling 5096
                  <br>Postbus 217
                  <br>7500 AE Enschede</p>
              </li>
              <li class="footer-list-item"><a href="tel:+31611211687" class="link footer-link">+31 (0)6 11 211 687</a>
              </li>
              <li class="footer-list-item"><a href="mailto:info@qbaylogic.com" class="link footer-link">info@qbaylogic.com</a>
              </li>
            </ul>
          </div>
          <div class="w-col w-col-3 home-intro-column">
            <div class="footer-title">Useful links</div>
            <ul class="w-list-unstyled footer-list">
              <li class="footer-list-item"><a href="about-clash.html" class="link footer-link">About CλaSH</a>
              </li>
              <li class="footer-list-item"><a href="our-team.html" class="link footer-link">Our team</a>
              </li>
              <li class="footer-list-item"><a href="services-overview.html" class="link footer-link">Our services</a>
              </li>
              <li class="footer-list-item"><a href="blog-archive.html" class="link footer-link">Blog Archive</a>
              </li>
              <li class="footer-list-item"><a href="contact-us.html" class="link footer-link">Contact us</a>
              </li>
            </ul>
          </div>
          <div class="w-col w-col-3 home-intro-column">
            <div class="footer-title">Services</div>
            <ul class="w-list-unstyled footer-list">
              <li class="footer-list-item"><a href="fpga-design.html" class="link footer-link">FPGA design</a>
              </li>
              <li class="footer-list-item"><a href="workshops-training.html" class="link footer-link">Workshops &amp; Training</a>
              </li>
              <li class="footer-list-item"><a href="clash-support.html" class="link footer-link">CλaSH support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
