---
title: About Clash
---
  <div class="w-section page-header">
    <div class="w-container container page-header-container">
      <h1 class="page-header-title">About Clash</h1>
      <h2 class="page-header-title subtitle">A functional hardware description language</h2>
    </div>
  </div>
  <div class="w-section section tint">
    <div class="w-container">
      <p class="large-paragraph allignl">Clash is a functional hardware description language that borrows both its syntax and semantics from the functional programming language Haskell. It provides a familiar structural design approach to both combinational and synchronous sequential circuits. The Clash compiler transforms these high-level descriptions to low-level synthesizable VHDL, Verilog, or SystemVerilog.
        <br>
        <br>Features of Clash:</p>
      <ul>
        <li>
          <p>Clash descriptions are strongly typed, yet with a high degree of type inference, enabling both safe and fast prototyping using concise descriptions.</p>
        </li>
        <li>
          <p>Interactive REPL: load your designs in an interactive interpreter and easily test all parts of your design without needing to setup a test bench first.</p>
        </li>
        <li>
          <p>Compile your test bench for very fast simulations.</p>
        </li>
        <li>
          <p>Higher-order functions, in combinations with type inference, result in designs that are fully parametric by default.</p>
        </li>
        <li>
          <p>Synchronous sequential circuit design based on streams of values, called Signals in Clash, lead to natural descriptions of feedback loops.</p>
        </li>
        <li>
          <p>Support for designing with multiple clock domains, where clock domain crossings are statically verified.</p>
        </li>
        <li>
          <p>Template language for introducing new VHDL, Verilog, or SystemVerilog primitives.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-section cta-section">
    <div class="w-container container">
      <div class="w-row cta-row">
        <div class="w-col w-col-7 cta-col-left">
          <div class="cta-title">Install Clash now.</div>
          <div class="cta-title subtitle">Install the binary distribution or compile from source.</div>
        </div>
        <div class="w-col w-col-5 cta-col-right"><a href="https://clash-lang.org/install/" class="button cta-button outline">install</a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section gray-image-section alt">
    <div class="gray-image-section-overlay">
      <div class="w-container container centered">
        <div class="section-title-wrapper">
          <div class="image-section-title">An open-source project</div>
          <div class="image-section-title subtitle">Clash is an open-source project with an active community</div>
        </div>
        <div class="widget-content-block">
          <ul class="w-list-unstyled icon-list">
            <li class="icon-list-item smaller"><img src="images/community.svg" class="list-icon small">
              <div class="list-title">Community website</div>
              <p class="large-paragraph allignl">The Clash community website is: <a class="link" href="http://clash-lang.org/">http://clash-lang.org/</a>.&nbsp;It contains tutorials, reference documentation, blog posts, and instructions on how to build the Clash compiler from source.</p>
            </li>
            <li class="icon-list-item smaller"><img src="images/github.svg" class="list-icon small">
              <div class="list-title">Github organisation</div>
              <p class="large-paragraph allignl">The main source repositories for the Clash compiler and its affiliated projects are hosted on <a class="link" href="https://github.com/clash-lang">https://github.com/clash-lang</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section tint testimonials">
    <div class="w-container container">
      <div>
        <div class="image-section-title">Clash testimonials</div>
        <div class="image-section-title subtitle">What users are saying about Clash</div>
      </div>
      <ul class="w-list-unstyled testimonials-list-wrapper">
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“Clash is a real pleasure to use compared to VHDL. Being able to use Haskell's strong type system really helps speed up development. Modules written in Clash are not only easier to maintain, but also easier to compose with one another.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Joe Hermaszewski</div>
            </div>
          </div>
        </li>
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“Clash was an invaluable tool for implementing novel ideas for interactions with FPGAs. It enabled me to develop ambitious digital circuits that I have confidence in.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Luka Rahne</div>
              <div class="client-testimonial-name subtitle">Embedded systems engineer</div>
            </div>
          </div>
        </li>
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“I find it extremely useful because of two things: power of Haskell's compiler and agile support of developers (you). Once I started with Clash I had no reason to switch back to VHDL or Python/MyHDL.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Bogdan Penkovskyi</div>
              <div class="client-testimonial-name subtitle">PhD student at the University of Franche-Comté</div>
            </div>
          </div>
        </li>
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“I have needed just half an hour for implementing a PCA9552 (LED driver) simulation in Clash and after some initial fixes we could hook it up to our ersatz-I2C bus of the SIM (via sockets) where it worked out of the box.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Gabor Greif</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
