---
title: Blog Archive
---
  <div class="w-section page-header dark">
    <div class="w-container container page-header-container">
      <h1 class="page-header-title">Blog archive</h1>
      <h2 class="page-header-title subtitle">Posts on using CλaSH</h2>
    </div>
  </div>
  <div class="w-section section tint">
    <div class="w-container container">
      <div class="w-row recent-news-row">
        <div class="w-col w-col-8 overall-content-column-left">
          <div class="blog-post">
            <a href="blog-post.html" class="w-inline-block blog-post-image-block"><img src="images/code3.jpg" class="blog-post-header-image-block">
            </a><a href="blog-post.html" class="link blog-post-link">CλaSH FPGA starter</a>
            <div class="blog-post-date">May 13, 2016</div>
            <p>In this tutorial we'll be programming the Terasic DE0-Nano FPGA development board using the functional hardware description language CλaSH. [...]</p><a href="blog-post.html" class="link with-arrow">Read more</a>
          </div>
          <div class="blog-post">
            <a href="blog-post.html" class="w-inline-block blog-post-image-block"><img src="images/code3.jpg" class="blog-post-header-image-block">
            </a><a href="blog-post.html" class="link blog-post-link">CλaSH FPGA starter</a>
            <div class="blog-post-date">May 13, 2016</div>
            <p>In this tutorial we'll be programming the Terasic DE0-Nano FPGA development board using the functional hardware description language CλaSH. [...]</p><a href="blog-post.html" class="link with-arrow">Read more</a>
          </div>
          <div class="blog-post">
            <a href="blog-post.html" class="w-inline-block blog-post-image-block"><img src="images/code3.jpg" class="blog-post-header-image-block">
            </a><a href="blog-post.html" class="link blog-post-link">CλaSH FPGA starter</a>
            <div class="blog-post-date">May 13, 2016</div>
            <p>In this tutorial we'll be programming the Terasic DE0-Nano FPGA development board using the functional hardware description language CλaSH. [...]</p><a href="blog-post.html" class="link with-arrow">Read more</a>
          </div>
        </div>
        <div class="w-col w-col-4 overall-sidebar-col-right">
          <div class="widget-block"><a href="fpga-design.html" class="link sidebar-list-link">FPGA design</a><a href="workshops-training.html" class="link sidebar-list-link">Workshops &amp; Training</a><a href="clash-support.html" class="link sidebar-list-link">CλaSH support</a>
          </div>
          <div class="widget-block">
            <a href="about-clash.html" class="w-inline-block widget-image-block">
              <div class="widget-image-block-overlay">
                <div class="image-block-title">About CλaSH</div>
                <div class="button">learn more</div>
              </div>
            </a>
          </div>
          <div class="widget-block">
            <div class="widget-content-block">
              <div class="w-clearfix content-info-block"><img src="images/location-pin.svg" class="contact-icon">
                <div class="contact-block-title">Visit us</div>
                <p class="contact-info-text">Zilverling 5096
                  <br>Hallenweg 19
                  <br>7522 NH Enschede (The Netherlands)</p>
              </div>
              <div class="w-clearfix content-info-block"><img src="images/telephone-handle-silhouette.svg" class="contact-icon">
                <div class="contact-block-title">Call us</div>
                <p class="contact-info-text">Call us on <a href="tel:+31611211687" class="link">+31 (0)6 11 211 687</a>
                </p>
              </div>
              <div class="w-clearfix content-info-block last"><img src="images/email-filled-closed-envelope.svg" class="contact-icon">
                <div class="contact-block-title">Mail us</div>
                <p class="contact-info-text">Mail us on <a class="link" href="mailto:info@qbaylogic.com">info@qbaylogic.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="widget-block">
            <div class="widget-content-block">
              <ul class="w-list-unstyled icon-list">
                <li class="icon-list-item smaller"><img src="images/computer-microprocessor-2.svg" class="list-icon small">
                  <div class="list-title">FPGA consultants</div>
                  <p>We apply FPGA technology in domains with difficult mathematical problems, where solutions need low latencies and high performance.</p>
                </li>
                <li class="icon-list-item smaller"><img src="images/mathematic-operations-buttons.svg" class="list-icon small">
                  <div class="list-title">Creators of CλaSH</div>
                  <p>We have developed CλaSH, a functional hardware description language, providing unprecedented abstraction mechanisms for FPGA design.</p>
                </li>
                <li class="icon-list-item smaller last"><img src="images/teacher.svg" class="list-icon small">
                  <div class="list-title">Experienced educators</div>
                  <p>Our workshops and training are based on 30+ years of experience in teaching students at bachelor, master, and phd level.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
