---
title: CλaSH support
---
  <div class="w-section page-header dark">
    <div class="w-container">
      <h1 class="page-header-title">CλaSH support</h1>
    </div>
    <h1 class="page-header-title subtitle">Expert on call</h1>
  </div>
  <div class="w-section section tint">
    <div class="w-container">
      <div class="w-row recent-news-row">
        <div class="w-col w-col-8 overall-content-column-left">
          <div class="section-title-block">
            <h1 class="section-title">About the service</h1>
            <div class="section-title-line"></div>
          </div>
          <div class="w-richtext rich-text-block">
            <p>The&nbsp;<a href="about-clash.html">CλaSH compiler</a>&nbsp;is an open-source project with an active and helpful community, and community resources such as blog posts on how to use&nbsp;CλaSH. There might however be situations where you want a more direct form of support. Such situations might include:</p>
            <ul>
              <li>You want phone support for the CλaSH compiler.</li>
              <li>You need an active developer to fix a certain bug in the CλaSH compiler. Or you need a developer to fix a bug that only shows up in code available under an NDA.</li>
              <li>You require a new feature to be added to the&nbsp;CλaSH compiler, or require a custom version of the &nbsp;CλaSH compiler. The latter can occur when there is no community consensus about a particular (disruptive) change.</li>
              <li>You quickly need to knows things like: ¨What is the best way to do this in&nbsp;CλaSH?¨, or ¨How do I generalize this &nbsp;CλaSH code?¨</li>
            </ul>
            <p>As the creators of CλaSH, QBayLogic can provide expert help in situations as described above, and many more.&nbsp;<a href="contact-us.html">Contact us</a>&nbsp;if you need our help using CλaSH.</p>
          </div>
          <div class="w-row service-blocks-row">
            <div class="w-col w-col-6 service-block-column">
              <a href="contact-us.html" class="w-inline-block service-link-block"><img src="images/new-email-interface-symbol-of-black-closed-envelope_white.svg" class="service-block-icon">
                <div class="service-block-title">Get in touch with us</div>
                <p class="service-block-paragraph">Let us help you apply FPGA technology in your situation.</p>
              </a>
            </div>
            <div class="w-col w-col-6 service-block-column">
              <a href="services-overview.html" class="w-inline-block service-link-block"><img src="images/computer-microprocessor.svg" class="service-block-icon">
                <div class="service-block-title">More services</div>
                <p class="service-block-paragraph">See what else we can doe for you or your company.</p>
              </a>
            </div>
          </div>
        </div>
        <div class="w-col w-col-4 overall-sidebar-col-right">
          <div class="widget-block"><a href="fpga-design.html" class="link sidebar-list-link">FPGA design</a><a href="workshops-training.html" class="link sidebar-list-link">Workshops &amp; Training</a><a href="clash-support.html" class="link sidebar-list-link">CλaSH support</a>
          </div>
          <div class="widget-block">
            <a href="about-clash.html" class="w-inline-block widget-image-block">
              <div class="widget-image-block-overlay">
                <div class="image-block-title">About CλaSH</div>
                <div class="button">learn more</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section dark">
    <div class="w-container container">
      <div class="w-row content-row">
        <div class="w-col w-col-3 content-column-1">
          <h3 class="column-intro-title">We are an FPGA consultancy firm located in Enschede, The Netherlands.</h3>
          <p>Our team has a strong affinity for both mathematics and embedded systems, which allows us to quickly achieve a deep understanding of difficult algorithm and find suitable implementations.</p><a href="our-team.html" class="link">Learn more</a>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/fpga_2_400x400_orange.jpg" class="column-image">
          <h3 class="column-intro-title smaller">FPGA consultants</h3>
          <p>We apply FPGA technology in domains with difficult mathematical problems, where solutions need low latencies and high performance.</p>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/code3.jpg" class="column-image">
          <h3 class="column-intro-title smaller">Creators of CλaSH</h3>
          <p>We have developed CλaSH, a functional hardware description language, providing unprecedented abstraction mechanisms for FPGA design.</p>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/classroom2.jpg" class="column-image">
          <h3 class="column-intro-title smaller">Experienced educators</h3>
          <p>Our workshops and training are based on 30+ years of experience on teaching students at bachelor, master, and phd level.</p>
        </div>
      </div>
    </div>
  </div>
