---
title: Contact us
---
  <div class="w-section contact-section">
    <div class="contact-section-overlay">
      <div class="w-container container">
        <div class="w-row">
          <div class="w-col w-col-6 contact-column-left">
            <div class="section-title-wrapper left-align">
              <div data-ix="page-header-title" class="contact-us-title">Contact us</div>
              <div data-ix="page-header-title-2" class="contact-us-title subtitle">You have a question or need information?</div>
            </div>
            <div class="w-form form">
              <form action="https://formspree.io/christiaan@qbaylogic.com" method="post" id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form">
                <input id="Name" type="text" placeholder="Enter your name" name="Name" data-name="Name" required="required" class="w-input field contact-field">
                <input id="Phone-number" type="text" placeholder="Phone number" name="Phone-number" data-name="Phone number" class="w-input field contact-field">
                <input id="Email" type="email" placeholder="Email address." name="_replyto" data-name="Email" required="required" class="w-input field contact-field">
                <textarea id="Message" placeholder="Enter message..." name="Message" data-name="Message" class="w-input field contact-area-field"></textarea>
                <input type="hidden" name="_next" value="http//qbaylogic.com" />
                <input type="text" name="_format" value="plain" style="display:none" />
                <input type="submit" value="Submit" data-wait="Please wait..." class="w-button button">
              </form>
              <div class="w-form-done">
                <p>Thank you! Your submission has been received!</p>
              </div>
              <div class="w-form-fail">
                <p>Oops! Something went wrong while submitting the form</p>
              </div>
            </div>
          </div>
          <div class="w-col w-col-6 contact-column-right">
            <div class="w-clearfix contact-block"><img width="20" src="images/location-pin.svg" class="contact-icon">
              <div class="contact-block-title">Visit us</div>
              <p>Institutenweg 25A
                <br>7521 PH, Enschede (The Netherlands)</p>
            </div>
            <div class="contact-block"><img src="images/telephone-handle-silhouette.svg" class="contact-icon">
              <div class="contact-block-title">Call us</div>
              <p>Call us on <a class="link" href="tel:+31611211687">+31 (0)6 11 211 687</a>
              </p>
            </div>
            <div class="contact-block"><img src="images/email-filled-closed-envelope.svg" class="contact-icon">
              <div class="contact-block-title">Mail us</div>
              <p>Mail us on <a class="link" href="mailto:info@qbaylogic.com">info@qbaylogic.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-widget-latlng="52.221537,6.893662" data-widget-style="terrain" data-widget-zoom="8" class="w-widget w-widget-map contact-us-map"></div>
  </div>
