---
title: Our team
---
  <div class="w-section page-header">
    <div class="w-container container page-header-container">
      <h1 data-ix="page-header-title" class="page-header-title">QBayLogic</h1>
      <h2 data-ix="page-header-title-2" class="page-header-title subtitle">FPGA design house</h2>
    </div>
  </div>
  <div class="w-section section tint">
    <div class="w-container">
      <div class="w-row team-row">
        <div class="w-col w-col-7 team-info-col-left">
          <div class="team-member-content-block">
            <div class="team-title">dr. Christiaan Baaij</div>
            <div class="team-title subtitle">co-founder</div>
            <div class="w-richtext">
              <p>Christiaan Baaij has a PhD from the University of Twente&nbsp;in the field of computer science and is the principal developer of the Clash compiler. Before that, he studied Embedded Systems, where he won the ENIAC best thesis award.</p>
              <p>Christiaan Baaij has been programming in Haskell since 2009, when he started on the first prototype of the Clash compiler. Since then, he is always keen on trying to figure out ways to effectively use GHCs latest language extensions for doing circuit design in Haskell..</p>
            </div>
            <ul class="w-list-unstyled team-contact-list">
              <li class="w-clearfix team-contact-list-item"><img src="images/telephone-handle-silhouette.svg" class="team-contact-icon">
                <div class="w-richtext team-contact-text">
                  <p>Call me on&nbsp;<a href="tel:+31858000380">+31 (0)85 8000 380</a>
                  </p>
                </div>
              </li>
              <li class="w-clearfix team-contact-list-item"><img src="images/email-filled-closed-envelope.svg" class="team-contact-icon">
                <div class="w-richtext">
                  <p>Send me&nbsp;<a href="mailto:christiaan@qbaylogic.com">an email</a>
                  </p>
                </div>
              </li>
              <li class="team-contact-list-item">
                <a href="http://www.twitter.com/ChristiaanBaaij" class="w-inline-block team-social-block"><img src="images/twitter_white.svg" class="team-social-icon">
                </a>
                <a href="https://www.linkedin.com/in/christiaanbaaij" class="w-inline-block team-social-block"><img src="images/linkedin-logo_white.svg" class="team-social-icon">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-col w-col-5 lawyer-column-right"><img src="images/christiaan.jpg" class="staff-profile-image">
        </div>
      </div>
      <div class="w-row team-row">
        <div class="w-col w-col-7 team-info-col-left">
          <div class="team-member-content-block">
            <div class="team-title">dr. Jan kuper</div>
            <div class="team-title subtitle">co-founder</div>
            <div class="w-richtext">
              <p>Jan Kuper has a PhD from the University of Twente&nbsp;in the field of mathematics, and is the original founder of the&nbsp;Clash project. He is a senior staff member of the&nbsp;<a href="http://caes.ewi.utwente.nl/">Computer Architecture</a>&nbsp;group at the University of Twente.&nbsp;</p>
              <p>Jan is the lecturer of the highly appreciated functional programming course at the University of Twente. Although this is an elective course, it is followed by nearly 100% of the computer science students based on the recommendations of other students; all in large part due to Jan's engaging teaching practices.</p>
            </div>
            <ul class="w-list-unstyled team-contact-list">
              <li class="w-clearfix team-contact-list-item"><img src="images/telephone-handle-silhouette.svg" class="team-contact-icon">
                <div class="w-richtext team-contact-text">
                  <p>Call me on&nbsp;<a href="tel:+31858000380">+31 (0)85 8000 380</a>
                  </p>
                </div>
              </li>
              <li class="w-clearfix team-contact-list-item"><img src="images/email-filled-closed-envelope.svg" class="team-contact-icon">
                <div class="w-richtext">
                  <p>Send me&nbsp;<a href="mailto:jan@qbaylogic.com">an email</a>
                  </p>
                </div>
              </li>
              <li class="team-contact-list-item">
                <a href="http://www.linkedin.com/in/jan-kuper-15bab311" class="w-inline-block team-social-block"><img src="images/linkedin-logo_white.svg" class="team-social-icon">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-col w-col-5 lawyer-column-right"><img src="images/jan.jpg" class="staff-profile-image">
        </div>
      </div>
      <div class="w-row team-row">
        <div class="w-col w-col-7 team-info-col-left">
          <div class="team-member-content-block">
            <div class="team-title">Marijn Bastiaan, MSc</div>
            <div class="team-title subtitle">Compiler engineer</div>
            <ul class="w-list-unstyled team-contact-list">
              <li class="team-contact-list-item">
                <a href="http://www.twitter.com/BastiaanMartijn" class="w-inline-block team-social-block"><img src="images/twitter_white.svg" class="team-social-icon">
                </a>
                <a href="https://www.linkedin.com/in/martijnbastiaan/" class="w-inline-block team-social-block"><img src="images/linkedin-logo_white.svg" class="team-social-icon">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-col w-col-5 lawyer-column-right">
          <div class="team-member-content-block">
            <div class="team-title">Leon Schoorl, BSc</div>
            <div class="team-title subtitle">FPGA engineer</div>
          </div>
        </div>
      </div>
      <div class="w-row team-row">
        <div class="w-col w-col-7 team-info-col-left">
          <div class="team-member-content-block">
            <div class="team-title">Alex McKenna, MSc</div>
            <div class="team-title subtitle">Compiler engineer</div>
            <ul class="w-list-unstyled team-contact-list">
              <li class="team-contact-list-item">
                <a href="https://www.linkedin.com/in/alex-mckenna-9417b112a/" class="w-inline-block team-social-block"><img src="images/linkedin-logo_white.svg" class="team-social-icon">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-col w-col-5 lawyer-column-right">
          <div class="team-member-content-block">
            <div class="team-title">Peter Lebbing, MSc</div>
            <div class="team-title subtitle">FPGA engineer</div>
          </div>
        </div>
      </div>
      <div class="w-row team-row">
        <div class="w-col w-col-7 team-info-col-left">
          <div class="team-member-content-block">
            <div class="team-title">Marlous Weghorst</div>
            <div class="team-title subtitle">Management Assistant</div>
            <ul class="w-list-unstyled team-contact-list">
              <li class="team-contact-list-item">
                <a href="https://www.linkedin.com/in/marlous-weghorst-7863aa1b/" class="w-inline-block team-social-block"><img src="images/linkedin-logo_white.svg" class="team-social-icon">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section cta-section">
    <div class="w-container container">
      <div class="w-row cta-row">
        <div class="w-col w-col-6 cta-col-left">
          <div class="cta-title">We are sure we can help you.</div>
          <div class="cta-title subtitle">Let us take one of your FPGA challenges off your shoulders.</div>
        </div>
        <div class="w-col w-col-6 cta-col-right"><a href="contact-us.html" class="button cta-button">Get in touch</a><a href="services-overview.html" class="button cta-button outline">Read more</a>
        </div>
      </div>
    </div>
  </div>
