---
title: Services overview
---
  <div class="w-section services-section">
    <div class="services-section-overlay">
      <div class="w-container container">
        <div class="section-title-wrapper">
          <div data-ix="fade-in-from-bottom" class="image-section-title">Our services</div>
          <div data-ix="fade-in-from-bottom-2" class="image-section-title subtitle">What we do and what can you expect from us.</div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-4 service-item">
            <a href="fpga-design.html" class="w-inline-block services-image-block">
              <div class="services-overlay">
                <div class="services-title">FPGA design</div>
              </div>
            </a>
          </div>
          <div class="w-col w-col-4 service-item">
            <a href="workshops-training.html" class="w-inline-block services-image-block workshop">
              <div class="services-overlay">
                <div class="services-title">Workshops &amp; Training</div>
              </div>
            </a>
          </div>
          <div class="w-col w-col-4 service-item">
            <a href="clash-support.html" class="w-inline-block services-image-block support">
              <div class="services-overlay">
                <div class="services-title">CλaSH Support</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section tint">
    <div class="w-container container">
      <div class="w-row content-row">
        <div class="w-col w-col-3 content-column-1">
          <h3 class="column-intro-title">We are an FPGA engineering firm located in Enschede, The Netherlands.</h3>
          <p>Our team has a strong affinity for both mathematics and embedded systems, which allows us to quickly achieve a deep understanding of difficult algorithm and find suitable implementations.</p><a href="our-team.html" class="link">Learn more</a>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/fpga_2_400x400_orange.jpg" class="column-image">
          <h3 class="column-intro-title smaller">FPGA engineers</h3>
          <p>We apply FPGA technology in domains with difficult mathematical problems, where solutions need low latencies and high performance.</p>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/code3.jpg" class="column-image">
          <h3 class="column-intro-title smaller">Creators of CλaSH</h3>
          <p>We have developed CλaSH, a functional hardware description language, providing unprecedented abstraction mechanisms for FPGA design.</p>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/classroom2.jpg" class="column-image">
          <h3 class="column-intro-title smaller">Experienced educators</h3>
          <p>Our workshops and training are based on 30+ years of experience on teaching students at bachelor, master, and phd level.</p>
        </div>
      </div>
    </div>
  </div>
