---
title: Testimonials
---
  <div class="w-section page-header dark">
    <div class="w-container container page-header-container">
      <h1 class="page-header-title">CλaSH testimonials</h1>
      <h2 class="page-header-title subtitle">What users are saying about CλaSH</h2>
    </div>
  </div>
  <div class="w-section section tint testimonials">
    <div class="w-container container">
      <ul class="w-list-unstyled testimonials-list-wrapper">
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“CλaSH is a real pleasure to use compared to VHDL. Being able to use Haskell's strong type system really helps speed up development. Modules written in CλaSH are not only easier to maintain, but also easier to compose with one another.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Joe Hermaszewski</div>
              <div class="client-testimonial-name subtitle">Myrtle Software</div>
            </div>
          </div>
        </li>
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“CλaSH was an invaluable tool for implementing novel ideas for interactions with FPGAs. It enabled me to develop ambitious digital circuits that I have confidence in.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Luka Rahne</div>
              <div class="client-testimonial-name subtitle">Embedded systems engineer</div>
            </div>
          </div>
        </li>
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“I find it extremely useful because of two things: power of Haskell's compiler and agile support of developers (you). Once I started with CλaSH I had no reason to switch back to VHDL or Python/MyHDL.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Bogdan Penkovskyi</div>
              <div class="client-testimonial-name subtitle">PhD student at the University of Franche-Comté</div>
            </div>
          </div>
        </li>
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“CλaSH will be to hardware design what Arduino and Raspberry Pi have been to automation.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Raphael 'kena' Poss</div>
            </div>
          </div>
        </li>
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“I have needed just half an hour for implementing a PCA9552 (LED driver) simulation in CλaSH and after some initial fixes we could hook it up to our ersatz-I2C bus of the SIM (via sockets) where it worked out of the box.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Gabor Greif</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-section section dark">
    <div class="w-container container">
      <div class="w-row content-row">
        <div class="w-col w-col-3 content-column-1">
          <h3 class="column-intro-title">We are an FPGA consultancy firm located in Enschede, The Netherlands.</h3>
          <p>Our team has a strong affinity for both mathematics and embedded systems, which allows us to quickly achieve a deep understanding of difficult algorithm and find suitable implementations.</p><a href="our-team.html" class="link">Learn more</a>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/fpga_2_400x400_orange.jpg" class="column-image">
          <h3 class="column-intro-title smaller">FPGA consultants</h3>
          <p>We apply FPGA technology in domains with difficult mathematical problems, where solutions need low latencies and high performance.</p>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/code3.jpg" class="column-image">
          <h3 class="column-intro-title smaller">Creators of CλaSH</h3>
          <p>We have developed CλaSH, a functional hardware description language, providing unprecedented abstraction mechanisms for FPGA design.</p>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/classroom2.jpg" class="column-image">
          <h3 class="column-intro-title smaller">Experienced educators</h3>
          <p>Our workshops and training are based on 30+ years of experience on teaching students at bachelor, master, and phd level.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section cta-section">
    <div class="w-container container">
      <div class="w-row cta-row">
        <div class="w-col w-col-6 cta-col-left">
          <div class="cta-title">We are sure we can help you.</div>
          <div class="cta-title subtitle">Get in touch with us to discuss your situation.</div>
        </div>
        <div class="w-col w-col-6 cta-col-right"><a href="contact-us.html" class="button cta-button">Get in touch</a><a href="services-overview.html" class="button cta-button outline">Read more</a>
        </div>
      </div>
    </div>
  </div>
