---
title: Testimonials
---
  <div class="w-section page-header dark">
    <div class="w-container container page-header-container">
      <h1 class="page-header-title">Projects</h1>
      <h2 class="page-header-title subtitle">How we helped our clients</h2>
    </div>
  </div>
  <div class="w-section section tint">
    <div class="w-container">
      <div class="section-title-block">
        <h1 class="section-title">Focal use-case: Laser-based communication</h1>
        <div class="section-title-line"></div>
      </div>
      <p class="large-paragraph allignl">An important ongoing project where we, as a first step, developed a high performance accelerator on FPGA is the TOmCAT project (Terabit Optical Communication Adaptive Terminal), a project initiated by ESA (European Space Agency) and TNO (Netherlands Organisation for Applied Scientific Research), and in which also, among others, Airbus (France) and Demcon-Focal (Enschede, The Netherlands) participate.</p>
      <h3 class="section-title subtitle">The challenge</h1>
      <p class="allignl">The project intends to solve the nowadays enormous bandwidth need in communication, in particular with satellites. The volume that current communication technology can handle is limited, and solutions are sought in optical communication, notably by means of laser beams. One of the problems with optical communication are atmospheric influences which disturb the laser beams. Hence the system has to anticipate these influences and adapt the beam to compensate for them. It is obvious that the computational power and the speed by which this computation has to proceed is enormous.</p>
      <h3 class="section-title subtitle">Our approach</h1>
      <p class="allignl">Because of QBayLogic’s powerful model-based methodology to design FPGA architectures, Demcon-Focal invited us to support them in the design of the necessary accelerator. The task consisted of detailed operations on the image matrix that is streamed from the camera, and for which the timing requirements are severe.</p>
      <p class="allignl">Taking this model as a starting point, the development of the architecture on the FPGA proceeded by step-by-step transformations, starting from the high-level model. All intermediate steps are formulated in the same language as the original model, and at every step the new specification can be simulated, just as the original model could be simulated. That means that the correctness of all intermediate steps can be checked by comparing the results with the outcome of the golden reference, and errors were detected in an early stage.</p>
      <h3 class="section-title subtitle">Our solution</h1>
      <p class="allignl">In fact, our design process is a non-stop process of writing code and testing it in an interactive design loop, and also in this project that proved to be a very effective process leading to a highly pipelined design. Because of the nature of this design process and the possibility to check the correctness at every intermediate step, the meetings with engineers of Demcon-Focal were very efficient and pleasant.</p>
      <p>The final step is to translate the resulting design in our high-level language into a traditional hardware language, such as VHDL. That step is automatically performed by our dedicated compiler. The result was delivered to Demcon-Focal and fluently integrated with the rest of the system.</p>
      <p>For further information the TOmCAT project, see: <a class="link" href="https://artes.esa.int/projects/tomcat">https://artes.esa.int/projects/tomcat</a></p>
      <div class="w-col w-col-6 service-block-column">
        <a href="/contact-us.html" class="w-inline-block service-link-block"><img src="images/new-email-interface-symbol-of-black-closed-envelope_white.svg" class="service-block-icon">
          <div class="service-block-title">Get in touch with us</div>
          <p class="service-block-paragraph">Let us take one of your FPGA challenges off your shoulders.</p>
        </a>
      </div>
    </div>
  </div>
  <div class="w-section page-header dark">
    <div class="w-container container page-header-container">
      <h1 class="page-header-title">Clash testimonials</h1>
      <h2 class="page-header-title subtitle">What users are saying about Clash</h2>
    </div>
  </div>
  <div class="w-section section tint testimonials">
    <div class="w-container container">
      <ul class="w-list-unstyled testimonials-list-wrapper">
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“Clash is a real pleasure to use compared to VHDL. Being able to use Haskell's strong type system really helps speed up development. Modules written in Clash are not only easier to maintain, but also easier to compose with one another.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Joe Hermaszewski</div>
            </div>
          </div>
        </li>
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“Clash was an invaluable tool for implementing novel ideas for interactions with FPGAs. It enabled me to develop ambitious digital circuits that I have confidence in.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Luka Rahne</div>
              <div class="client-testimonial-name subtitle">Embedded systems engineer</div>
            </div>
          </div>
        </li>
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“I find it extremely useful because of two things: power of Haskell's compiler and agile support of developers (you). Once I started with Clash I had no reason to switch back to VHDL or Python/MyHDL.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Bogdan Penkovskyi</div>
              <div class="client-testimonial-name subtitle">PhD student at the University of Franche-Comté</div>
            </div>
          </div>
        </li>
        <li class="testimonial-item">
          <div class="testimonial-wrapper">
            <div class="testimonial-text-block">
              <p class="client-testimonial">“I have needed just half an hour for implementing a PCA9552 (LED driver) simulation in Clash and after some initial fixes we could hook it up to our ersatz-I2C bus of the SIM (via sockets) where it worked out of the box.”</p>
              <div class="client-block-square"></div>
            </div>
            <div class="testimonial-client-block">
              <div class="client-testimonial-name">Gabor Greif</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-section section dark">
    <div class="w-container container">
      <div class="w-row content-row">
        <div class="w-col w-col-3 content-column-1">
          <h3 class="column-intro-title">We are an FPGA engineering firm located in Enschede, The Netherlands.</h3>
          <p>Our team has a strong affinity for both mathematics and embedded systems, which allows us to quickly achieve a deep understanding of difficult algorithm and find suitable implementations.</p><a href="our-team.html" class="link">Learn more</a>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/fpga_2_400x400_orange.jpg" class="column-image">
          <h3 class="column-intro-title smaller">FPGA engineers</h3>
          <p>We apply FPGA technology in domains with difficult mathematical problems, where solutions need low latencies and high performance.</p>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/code3.jpg" class="column-image">
          <h3 class="column-intro-title smaller">Creators of Clash</h3>
          <p>We have developed Clash, a functional hardware description language, providing unprecedented abstraction mechanisms for FPGA design.</p>
        </div>
        <div class="w-col w-col-3 content-column"><img src="images/classroom2.jpg" class="column-image">
          <h3 class="column-intro-title smaller">Experienced educators</h3>
          <p>Our workshops and training are based on 30+ years of experience on teaching students at bachelor, master, and phd level.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section cta-section">
    <div class="w-container container">
      <div class="w-row cta-row">
        <div class="w-col w-col-6 cta-col-left">
          <div class="cta-title">We are sure we can help you.</div>
          <div class="cta-title subtitle">Get in touch with us to discuss your situation.</div>
        </div>
        <div class="w-col w-col-6 cta-col-right"><a href="contact-us.html" class="button cta-button">Get in touch</a><a href="services-overview.html" class="button cta-button outline">Read more</a>
        </div>
      </div>
    </div>
  </div>
